In [3]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#Sort the list and find the min and max age
ages.sort()
print ("Sorted age:", ages)
#Add the min age and the max age again to the list
ages.append(min(ages))
ages.append(max(ages))
print ("Added min and max values again:",ages) 
#Find the median age (one middle item or two middle items divided by two)
mdn_age = statistics.median(ages)
print ("Median:", mdn_age) 
#Find the average age (sum of all items divided by their number)
average= sum(ages)/len(ages)
print ("Avg = ", average) 
#Find the range of the ages (max minus min)
rng=max(ages)-min(ages)
print ("Range = ", rng)

Sorted age: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Added min and max values again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median: 24.0
Avg =  22.75
Range =  7

In [11]:
#Create an empty dictionary called dog
#Add name, color, breed, legs, age to the dog dictionary
#Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
#Get the length of the student dictionary
#Get the value of skills and check the data type, it should be a list
#Modify the skills values by adding one or two skills
#Get the dictionary keys as a list
#Get the dictionary values as a list

#Create an empty dictionary called dog
dog={}
#Add name, color, breed, legs, age to the dog dictionary
dog.update({'name':'Tommy','color':'white','breed':'husky','legs':'4','age':'2'}) 
print ("Dog Dictionary Created:",dog) 
# Student dictionary is created with given key and values 
student = {'first_name':'Srujana','last_name':'Makutam','Gender':'Female','age':'22','marital_status':'si ngle', 
'skills':['dancer'],'Country':'India','City':'Hyderabad','Address':'1/180'} 
print ("Student Dictionary Created:",student) 
# Find the length of student dictionary 
print ("Length of student:", len(student)) 
# Check the datatype of skills
print(type(student['skills']))
# Add one item to skills 
student['skills'].append('Machine Language')
print ("New skill added:",student['skills'])
# Get values of skills dictionary 
print ("Values of skills:",student.values()) 
# Get student key
print ("Student keys:",student.keys())

Dog Dictionary Created: {'name': 'Tommy', 'color': 'white', 'breed': 'husky', 'legs': '4', 'age': '2'}
Student Dictionary Created: {'first_name': 'Srujana', 'last_name': 'Makutam', 'Gender': 'Female', 'age': '22', 'marital_status': 'si ngle', 'skills': ['dancer'], 'Country': 'India', 'City': 'Hyderabad', 'Address': '1/180'}
Length of student: 9
<class 'list'>
New skill added: ['dancer', 'Machine Language']
Values of skills: dict_values(['Srujana', 'Makutam', 'Female', '22', 'si ngle', ['dancer', 'Machine Language'], 'India', 'Hyderabad', '1/180'])
Student keys: dict_keys(['first_name', 'last_name', 'Gender', 'age', 'marital_status', 'skills', 'Country', 'City', 'Address'])

In [12]:
#Create tuple of sisters and brothers 
my_sisters = ('Sanjana', 'Sheethal','Shivani','Spoorthi')  
my_brothers = ('Akhil','Suchith','Vandith','Vaishnav') 
# Create another tuple as siblings and join the sister’s and brother’s tuple 
siblings = my_sisters + my_brothers 
# Displays siblings’ output and length of siblings 
print("Siblings:", siblings) 
print("Length of Siblings:", len(siblings)) 
# Create another tuple as family_members and add father and mother name to it 
family_members = siblings + ('Srinivas','Susmitha') 
# Displays family_members output 
print("Family_members:",family_members)

Siblings: ('Sanjana', 'Sheethal', 'Shivani', 'Spoorthi', 'Akhil', 'Suchith', 'Vandith', 'Vaishnav')
Length of Siblings: 8
Family_members: ('Sanjana', 'Sheethal', 'Shivani', 'Spoorthi', 'Akhil', 'Suchith', 'Vandith', 'Vaishnav', 'Srinivas', 'Susmitha')

In [14]:
#Length of the set 
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
print("Length of it_companies:", len(it_companies)) 
#Add twitter 
it_companies.add('Twitter') 
print("After adding another item:",it_companies) 
#Add multiple it_companies 
it_companies.update({'Infosys','Capgemini','Wipro','TCS'}) 
print("After adding multiple items:",it_companies) 
#Remove 
it_companies.remove('TCS') 
print("After removing one company:",it_companies) 
#Discard 
it_companies.discard('TCS') 
print("After discarding  company:",it_companies) 
#Discard doesn't raise any error if any item is not present in the set 
#Join A & B 
A= {19, 22, 24, 20, 25, 26} 
B= {19, 22, 20, 25, 26, 24, 28, 27}  
print("Join A and B:", A.union(B)) 
#Intersection 
print("Intersection of A and B:", A.intersection(B)) 
#Subset 
print("Subset of A and B:", A.issubset(B)) 
#Disjoint 
print("Disjoint:", A.isdisjoint(B)) 
#delete set  
A.clear() 
print(A) 
B.clear() 
print(B)
#Convert list to set 
age = [22, 19, 24, 25, 26, 24, 25, 24] 
print("Converting list to set:", set(age)) 
#Length of set 
print("Length of set:",len(set(age))) 
#Length of list 
print("Length of list:",len(age))

Length of it_companies: 7
After adding another item: {'Facebook', 'Google', 'Twitter', 'Microsoft', 'Oracle', 'Apple', 'Amazon', 'IBM'}
After adding multiple items: {'TCS', 'Infosys', 'Twitter', 'Facebook', 'Google', 'Capgemini', 'Wipro', 'Microsoft', 'Oracle', 'Apple', 'Amazon', 'IBM'}
After removing one company: {'Infosys', 'Twitter', 'Facebook', 'Google', 'Capgemini', 'Wipro', 'Microsoft', 'Oracle', 'Apple', 'Amazon', 'IBM'}
After discarding  company: {'Infosys', 'Twitter', 'Facebook', 'Google', 'Capgemini', 'Wipro', 'Microsoft', 'Oracle', 'Apple', 'Amazon', 'IBM'}
Join A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Subset of A and B: True
Disjoint: False
set()
set()
Converting list to set: {19, 22, 24, 25, 26}
Length of set: 5
Length of list: 8

In [17]:
#Unique words using split method 
# Unique 
st = "I am a teacher and I love to inspire and teach people" 
# Use split method to separate the words and set to get the unique values 
spt=set(st.split(" ")) 
print(spt) 
print ("Length:",len(spt))

{'teacher', 'inspire', 'I', 'love', 'to', 'am', 'teach', 'people', 'and', 'a'}
Length: 10

In [18]:
#Used tab and escape to display them in the given format 
a= "Name\t Age\tCountry\tCity\t\nAsabeneh 250\tFinland\tHelsinki" 
print(a)

Name	 Age	Country	City
Asabeneh 250	Finland	Helsinki

In [21]:
#Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %d is %d meters square."%(radius,area))

The area of a circle with radius 10 is 314 meters square.